@using AspNetMvc4FundamentalsPluralsight.DAL;
@model IEnumerable<Department>


@{
    ViewBag.Title = "Index";
}

<h2>All Departments</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Department", new { id = item.DepartmentId }, null)
            </td>
        </tr>
    }
</table>


